<section class="offer offer--large">
  <div class="offer__inner">
    <%- include('../stat/stat.ejs', { name: "Satisfied Clients", number: 3587, icon: "icon-1.png"})%>
    <%- include('../stat/stat.ejs', { name: "Satisfied Clients", number: 3587, icon: "icon-1.png"})%>
    <%- include('../stat/stat.ejs', { name: "Satisfied Clients", number: 3587, icon: "icon-1.png"})%>
    <%- include('../stat/stat.ejs', { name: "Satisfied Clients", number: 3587, icon: "icon-1.png"})%>
    <%- include('../stat/stat.ejs', { name: "Satisfied Clients", number: 3587, icon: "icon-1.png"})%>
  </div>
</section>
